/* Появление страницы */

body{
    animation: fadePage 1s ease;
}

@keyframes fadePage{

    from{
        opacity:0;
    }

    to{
        opacity:1;
    }

}


/* Логотип UNDERDOGG */

.main-logo{

    opacity:0;

    animation:
        logoAppear 1s forwards,
        logoGlow 2.5s infinite 1s,
        logoGlitch 8s infinite;

}

@keyframes logoAppear{

    from{
        opacity:0;
        transform:translateY(-30px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }

}

@keyframes logoGlow{

    0%{
        text-shadow:0 0 8px #ff0000;
    }

    50%{
        text-shadow:
        0 0 20px red,
        0 0 45px red;
    }

    100%{
        text-shadow:0 0 8px #ff0000;
    }

}

@keyframes logoGlitch{

    0%,96%,100%{
        transform:none;
    }

    97%{
        transform:translateX(-2px);
    }

    98%{
        transform:translateX(2px);
    }

}


/* Hood */

.hood-image{

    opacity:0;

    animation:
        hoodAppear 1.4s forwards .4s,
        hoodBreath 5s ease-in-out infinite 2s;

}

@keyframes hoodAppear{

    from{

        opacity:0;

        transform:
        scale(.8)
        translateY(25px);

    }

    to{

        opacity:1;

        transform:
        scale(1)
        translateY(0);

    }

}

@keyframes hoodBreath{

    0%{
        transform:scale(1);
    }

    50%{
        transform:scale(1.02);
    }

    100%{
        transform:scale(1);
    }

}


/* Красная точка */

.status-dot{

    animation:pulse 1.4s infinite;

}

@keyframes pulse{

    0%{

        box-shadow:
        0 0 5px red;

    }

    50%{

        box-shadow:
        0 0 25px red;

    }

    100%{

        box-shadow:
        0 0 5px red;

    }

}


/* Кнопка */

.enter-btn{

    transition:.3s;

}

.enter-btn:hover{

    transform:scale(1.03);

    box-shadow:
    0 0 30px red;

}
